<title>Objects of 想 in Four Senses</title>
<style>
.flex-container{display:flex}
/*.flex-container>div{margin:10px}*/
</style>
<div class="flex-container">
{% for sense,dep_scores in sense_dep_scores.items %}
   <table border=1px>
   <tr><th>{{sense}}</th><th>freq</th><th>logDice</th><th>logDiceH</th></tr>
   {% for dep,scores in dep_scores %}
   <tr><td nowrap>{{dep}}</td><td><a href=collocation_api/{{head}}/{{sense}}/{{rel}}/{{dep}}>{{scores.1|length}}</a></td>
       <td>{{scores.2}}</td>
       <td>{{scores.0}}</td>
   </tr>
   {% endfor %}
   </table>
{% endfor %}
</div>
