/concordance_api:
<form action=/concordance_api method=GET>
{% csrf_token %}
<input name=keyword>
<input type=radio name=choice value='4news/'>4news/
<input type=radio name=choice value='pttcorp/'>pttcorp/
<input type=radio name=choice value='ASBC_A/'>ASBC_A/
<input name=choice type=radio value='SemEval-2007/'>SemEval-2007/
<input type=submit>
</form>

/sense_collocation:
<form action=/sense_collocation method=POST>
{% csrf_token %}
<input name=keyword>
<input name=choice type=radio value='SemEval-2007/'>SemEval-2007/
<input type=submit>
</form>
